params.dimension_db_dir = "/data/home/pitagoras/data/dimension_db"
params.datasets_dir = "/data/home/pitagoras/data/mf_datasets"
params.release_n = "cafa6"
params.optimization_dir = "/data/home/pitagoras/experiments/mf_swarm/"
params.param_bounds_file = "config/param_bounds/base_param_bounds_v2.json"
params.src_dir = "${projectDir}/src"

conda {
    enabled = true
}

process {
    conda = '/storages/caico/home/pitagoras/miniforge3/envs/pytorch_py311'
}
