params.dimension_db_dir = "/home/pita/data/protein_dimension_db"
params.datasets_dir = "/home/pita/data/mf_datasets"
params.release_n = "cafa6"
params.optimization_dir = "/home/pita/experiments/mf_swarm/"

singularity {
    enabled = true
    autoMounts = true
    runOptions = "--nv --bind /home/pita/.cache:/home/pita/.cache,${projectDir}/src:/src"
}

process {
    container = 'singularity/sif/mf_swarm.sif'
}
