params.dimension_db_dir = "/home/pita/data/protein_dimension_db"
params.datasets_dir = "/home/pita/data/mf_datasets"
params.release_n = "cafa6"
params.optimization_dir = "/home/pita/experiments/mf_swarm/"
params.param_bounds_file = "config/param_bounds/base_param_bounds_v2.json"
params.src_dir = "/src"

singularity {
    enabled = true
    autoMounts = true
    runOptions = "--nv --bind /home/pita/.cache:/home/pita/.cache,/home/pita/.config:/home/pita/.config,${projectDir}/src:/src"
}

process {
    container = 'singularity/sif/mf_swarm.sif'
}
